@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   .light_mode {
      background-image: url('/png/fondo_light.png');
      background-size: cover;
      background-repeat: no-repeat;
   }
   .dark_mode {
      background-image: url('/png/fondo_dark.png');
      background-size: cover;
      background-repeat: no-repeat;
   }
   body {
      @apply h-full light_mode dark:dark_mode 2xl:text-[20px] 4xl:text-[24px] relative box-border text-white font-open
   }
}

@layer components {
   .card {
      --card-height: 50px;
      --card-width: 180px;
      --card-radius: 8px;
      --border-width: 4px;
      --border-fill: 150px;
      --border-height: 357px;
  
      --card-color: #16BAC5;
  
      position: relative;
      height: var(--card-height);
      width: var(--card-width);
      background: var(--card-color);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      z-index: 1;
      border-radius: var(--card-radius);
   }
  
   .card::before {
      content: "";
      height: calc(var(--border-height));
      width: calc(var(--border-fill) * 2);
      background: linear-gradient(90deg, transparent 40%, #FFFFFF, transparent 60%);
      position: absolute;
      z-index: 2;
      animation: rotate 3.5s linear infinite;
   }
   
   .card::after {
      content: "";
      height: calc(var(--card-height) - var(--border-width));
      width: calc(var(--card-width) - var(--border-width));
      background: #16BAC5;
      position: absolute;
      z-index: 2;
      border-radius: calc(var(--card-radius) - (var(--card-radius) / 6));
   }

   @media screen and (min-width: 1024px) {
      .card {
         --card-height: 60px;
      }
      .card::after {
         width: calc(var(--card-width) - (var(--border-width) * 4));
      }
   }

   @media screen and (min-width: 1536px) {
      .card {
         --card-height: 60px;
      }
      .card::after {
         height: calc(var(--card-height) - (var(--border-width) * 1.5));
         width: calc(var(--card-width) - (var(--border-width) * 2.3));
      }
   }
   
   .card-content {
      z-index: 3;
      font-size: 16px;
      font-family: system-ui;
      font-weight: bold;
      color: white;
      position: absolute;
   }

   @keyframes rotate {
      from {
         transform: rotateZ(1deg);
      }
      to {
         transform: rotateZ(360deg);
      }
   }

   svg text {
      font-family: Dela Gothic One, sans-serif;
   }

   .contactInput {
      @apply appearance-none disabled:cursor-not-allowed disabled:opacity-50 bg-[#FFFFFF33] w-full h-[1.5lh] rounded-[8px] border-[2px] border-solid border-[#FFFFFF80] p-[5px] text-white
   }

   .contactInput:focus {
      @apply outline-none border-[#FFFFFF] 
   }

   .contactLabel {
      @apply text-[#FFFFFF80] font-[11px]
   }

   .error {
      @apply absolute indent-1 -bottom-[9px] text-[0.8em] [color:_rgb(255,0,0)]
   }

   .slideInputs {
      background-color: #D9D9D94D;
      transition: background-color 0.5s;
   }
   
   .slideInputs:disabled {
      background-color: #D9D9D9;
   } 
   
   .buttonGlow {
      --disabled-animation: none;

      position: relative;
      display: inline-block;
      width: fit-content;
      height: fit-content;
      box-sizing: border-box;
      padding: 0.5em 0.5em;
      font-style: bold;
      font-family: Dela Gothic One, sans-serif;
      color: white;
      background-color: #FFFFFF33;
      border: 2px solid #FFFFFF;
      border-radius: 8px;
      cursor: pointer;
      overflow: hidden;
      text-decoration: none;
   }
   
   .buttonGlow:disabled {
      transition: scale 0.5s, opacity 0.5s;
      opacity: 0.5;
      scale: 0.7;
      position: relative;
      cursor: default;
      animation: var(--disabled-animation);
   }

   .buttonGlow:enabled {
      animation: enabledButton 0.3s ease-in;
      transition: scale 0.1s;
   }

   .buttonGlow:enabled:hover {
      scale: 1.07;
      transition: scale 0.20s;
   }
   
   .buttonGlow:enabled:active {
      scale: 0.93;
      transition: scale 0.1s;
   }
   
   .buttonGlow:enabled::after {
      content: "";
      position: absolute;
      top: 0;
      left: -150%;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      transform: skewX(-45deg);
      transition: left 0.5s;
   }
   
   .buttonGlow:enabled:hover::after {
      left: 150%;
   }

   @keyframes enabledButton {
      0% {
         opacity: 0.5;
         scale: 0.7;
      }
      30% {
         opacity: 0.8;
         scale: 1.15;
      }
      60% {
         opacity: 0.9;
         scale: 0.90;
      }
      100% {
         opacity: 1;
         scale: 1;
      }
   }
   @keyframes disabledButton {
      0%, 100% {
         transform: translateX(0);
      }
      15% {
         transform: translateX(15px);
      }
      30% {
         transform: translateX(-15px);
      }
      45% {
         transform: translateX(10px);
      }
      60% {
         transform: translateX(-10px);
      }
      75% {
         transform: translateX(5px);
      }
      90% {
         transform: translateX(-5px);
      }
      93% {
         transform: translateX(2.5px);
      }
      96% {
         transform: translateX(-2.5px);
      }
   }
}

@layer utilities {

   #logo-gradient {
      --cursor: auto;
      cursor: var(--cursor);
      -webkit-mask-image: url("/SVG/Logo(1).svg");
      mask-image: url("/SVG/Logo(1).svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
   }

   #logo-gradient:hover {
      cursor: var(--cursor);
   }

   .dev-text {
      position: relative;
      z-index: 1;
      background: #FFBE00;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
   }

   .dev-text::before {
      position: relative;
      left: 50%;
      z-index: 5;
      background: red/* linear-gradient(to right, #FFFFFF80, #FFFFFF, #FFFFFF80) */;
      -webkit-background-clip: text;
      background-clip: text;
      height: 50px;
      width: 50px;
      /* animation: slideRight 10s infinite; */
   }

   @keyframes slideRight {
      from {
         left: -10%;
      }
      to {
         left: 110%;
      }
   }
}
